<div class="header-container">
    <mat-toolbar class="class-header class-toolbar class-toolbar-row1">
        <div class="header-content-left">
            <button mat-icon-button class="header-button menu-button" matTooltip="Menu" (click)="showSidenav()">
                <mat-icon>menu</mat-icon>
            </button>
            <div class="header-title">
                <a href="#" class="header-title-text">Recipe Book</a>
            </div>
        </div>

        <div class="header-content-middle">
            <div class="middle-toolbar-options">

                <div class="menu-container">
                    <button mat-button [matMenuTriggerFor]="recipemenu">Recipes</button>
                    <mat-menu #recipemenu="matMenu">
                        <button mat-menu-item routerLink="recipe/new">Add new Recipe</button>
                        <button mat-menu-item routerLink="recipes/list">All Recipes</button>
                        <button mat-menu-item routerLink="recipes/categories">Categories</button>
                    </mat-menu>
                </div>

                <div class="menu-container">
                    <button mat-button [matMenuTriggerFor]="shoppingmenu">Shopping</button>
                    <mat-menu #shoppingmenu="matMenu">
                        <button mat-menu-item routerLink="shopping-list">Shopping list</button>
                        <button mat-menu-item routerLink="Ingredients-list">Ingredients list</button>
                    </mat-menu>
                </div>

            </div>
        </div>

        <div class="header-content-right">
            <button class="register-button" routerLink="auth/registration">Register</button>
            <button class="login-button" routerLink="auth/login">Login</button>
        </div>
    </mat-toolbar>
</div>
