:host {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.header-container {
    .class-toolbar-row1 {
        justify-content: space-between;

        .header-content-left {
            height: 100%;
            display: flex;
            align-items: center;
            gap: .5rem;

            .header-title {
                h1 {
                  font-size: 24px;
                  line-height: 1;
                }
            }

            .selected-theme-container {
                height: 100%;
                display: flex;
                gap: 0.5rem;
                align-items: center;

                .selected-theme-title {
                    font-size: 14px;
                }

                .selected-theme-content {
                    height: 36px;
                }
            }
        }

        .header-content-right {
            .right-button-container {

            }
        }
    }
}
