<div class="header-container">
    <mat-toolbar class="class-header class-toolbar class-toolbar-row1">
        <div class="header-content-left">
            <button mat-icon-button class="header-button menu-button" matTooltip="Menu" (click)="showSidenav()">
                <mat-icon>menu</mat-icon>
            </button>
            <div class="header-title">
                <a href="#" class="header-title-text">Recipe Book</a>
            </div>
        </div>

        <div class="header-content-middle">
            <div class="middle-toolbar-options">
                <div class="option-name" routerLink="#">Recipes</div>
                <div class="option-name" routerLink="#">Shopping list</div>
            </div>
        </div>

        <div class="header-content-right">
            <p></p>
        </div>
    </mat-toolbar>
</div>
