<div class="header-container">
    <mat-toolbar class="class-header class-toolbar class-toolbar-row1">
        <div class="header-content-left">
            <button mat-icon-button class="header-button menu-button" matTooltip="Menu" (click)="showSidenav()">
                <mat-icon>menu</mat-icon>
            </button>
            <div class="header-title">
                <h1>Coding World</h1>
            </div>
        </div>
        <div class="header-content-right">
            <p></p>
        </div>
    </mat-toolbar>
</div>
