:host {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.sidenav-container {
    margin-top: 64px;
    display: flex;
    flex-direction: column;

    .basic-layout-container {
        height: calc(100vh - 64px);

        .basic-layout-content {
            min-height: 100%;
            display: flex;
            flex-direction: column;
        }
    }
}
