<div class="category-picker-container">
    <!-- later option groups -->
    <form class="category-form">
        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Category</mat-label>
            <input matInput type="text" 
                placeholder="Select a category" 
                aria-label="Category" 
                [formControl]="selectedCategory"
                [matAutocomplete]="auto"
                (blur)="emitCategory()">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="getOptionName">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{ option.name }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </form>
</div>
