<div class="recipe-full-container" *ngIf="recipe" fxLayout="column" fxLayoutAlign="center center">

    <div class="recipe-cover-image" *ngIf="recipe.imagePath">
        <img [src]="recipe.imagePath" [alt]="">
    </div>

    <div class="recipe-content">
        <div class="recipe-header">
            <div class="recipe-title-container" fxLayout="row" fxLayoutAlign="space-between center">
                <h1 style="margin: 0;"> {{ recipe.name }} </h1>
                <div class="recipe-button-container">
                    <button mat-icon-button matTooltip="To Shopping List" shareButton="facebook">
                        <mat-icon>add</mat-icon>
                    </button>
                    <!-- TODO: edit -->
                    <!-- <button mat-icon-button matTooltip="Edit Recipe">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button matTooltip="Delete Recipe">
                        <mat-icon>close</mat-icon>
                    </button> -->
                </div>
            </div>        
            <div class="recipe-description-container">
                <h2 style="margin: 0"> {{ recipe.description }} </h2>
            </div>
        </div>

        <div class="recipe-text-container" fxLayout="column" fxLayoutGap="1rem" fxLayout="column" fxLayoutAlign="center center">
            
            <div class="recipe-info-container recipe-text-row" fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign="space-around center">
                <div class="recipe-category-container" *ngIf="category">
                    <h2>Category</h2>
                    <div class="category-container" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.5rem">
                        <div class="category-icon">
                            <mat-icon> {{ category.icon }} </mat-icon> 
                        </div>
                        <div class="category-name">
                            <a href=""> {{ category.name }} </a> 
                        </div>
                    </div>
                </div>

                <div class="recipe-category-container" *ngIf="recipe.difficulty" fxLayout="column" fxLayoutAlign="center center">
                    <h2>Difficulty</h2>
                    <div class="category-container" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.5rem">
                        <div class="category-icon">
                            <mat-icon>sign_language</mat-icon> 
                        </div>
                        <div class="category-name">
                            <a href=""> {{ recipe.difficulty }} </a> 
                        </div>
                    </div>
                </div>

                <div class="recipe-category-container" *ngIf="recipe.time" fxLayout="column" fxLayoutAlign="center center">
                    <h2>Time</h2>
                    <div class="category-container" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.5rem">
                        <div class="category-icon">
                            <mat-icon>timer</mat-icon> 
                        </div>
                        <div class="category-name">
                            <a href=""> {{ recipe.time }} min</a> 
                        </div>
                    </div>
                </div>

                <div class="recipe-category-container" *ngIf="category" fxLayout="column" fxLayoutAlign="center center">
                    <h2>Category</h2>
                    <div class="category-container" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.5rem">
                        <div class="category-icon">
                            <mat-icon> {{ category.icon }} </mat-icon> 
                        </div>
                        <div class="category-name">
                            <a href=""> {{ category.name }} </a> 
                        </div>
                    </div>
                </div>
            </div>
        
            <!-- TODO: component -->
            <div class="recipe-ingredients-container recipe-text-row">
                <h2>Ingredients</h2>
                <div class="ingredient-list-container" 
                    *ngFor="let ingredient of recipe.ingredients"
                    fxLayout="rows" fxLayoutGap="1rem" fxLayoutAlign="start center">
                        <mat-icon>arrow_right</mat-icon>
                        <a href="" class="ingredient-list-item">
                            {{ ingredient.name }} ({{ ingredient.quantity }})
                        </a>
                </div>
            </div>

            <!-- TODO: component -->
            <div class="recipe-preparation-container recipe-text-row">
                <h2>Preparation</h2>
                <div class="preparation-step-container" 
                    *ngFor="let step of recipe.steps; let i = index"
                    fxLayout="rows" fxLayoutGap="1rem" fxLayoutAlign="start center">
                        <div class="step-index"> {{i+1}}. </div>
                        <div class="step-text"> {{ step }} </div>
                </div>
            </div>

            <!-- TODO: tags -->
            <!-- <div class="recipe-tags-container recipe-text-row">

            </div> -->

            <!-- TODO: component -->
            <div class="recipe-share-button-container recipe-text-row" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="recipe-share-title">
                    <h2>Did you try this recipe?</h2>
                </div>
                <div class="share-button-container" fxLayout="row" fxLayoutGap=".5rem">
                    <app-share-button type="facebook" tooltip="Share on Facebook"></app-share-button>
                    <app-share-button type="print" tooltip="Print"></app-share-button>
                </div>
                
            </div>

            <!-- TODO: preparation -->
            <!-- <div class="recipe-preparation-container recipe-text-row">
                
            </div> -->

        </div>  

    </div>

</div>
