.recipe-full-container {
    background-color: lightgray;

    .recipe-cover-image img {
        border-radius: 1rem;
        margin-top: 1rem;
        width: 800px;
        height: 400px;
        object-fit: cover;
    }

    .recipe-content {
        width: 750px;
        background-color: white;
        /* box-shadow: 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%); */
        border-radius: 2rem;
        margin: -3rem auto 3rem auto;
        padding: 1rem;

        .recipe-header {
            margin-bottom: 1rem;

            h1 {
                color: #fc7974;
                font-weight: 100;
            }
        }

        .recipe-ingredients-container {
            .ingredient-list-container {
                a {
                    text-decoration: none;
                    color: darkslategrey;
                }

                mat-icon {
                    color: #fc7974; 
                }
            }
        }

        .recipe-preparation-container {
            .preparation-step-container .step-index {
                font-weight: 700;
                color: #fc7974;
                padding-left: 0.5rem;
            }
        }
    }
}