.recipe-full-container {
    background-color: antiquewhite;

    .recipe-cover-image img {
        border-radius: 1rem;
        margin-top: 1rem;
        width: 800px;
        height: 400px;
        object-fit: cover;
        box-shadow: var(--main-shadow);
    }

    .recipe-content {
        width: 750px;
        margin: -3rem auto 3rem auto;

        .recipe-header {
            margin-bottom: 1rem;

            h1 {
                font-weight: 100;
            }
        }

        .recipe-header,
        .recipe-text-row {
            width: 100%;
            background-color: var(--background-color);
            box-shadow: var(--main-shadow);
            border-radius: 1rem;
            padding: 1rem;
        }

        .recipe-text-row h2 {
            margin-bottom: 0.5rem;
        }

        .recipe-category-container {
            .category-icon {
                color: var(--main-color);
                display: flex;
            }

            .category-name a {
                text-decoration: none;
                color: var(--main-text-color); 
            }
        }

        .recipe-ingredients-container {
            .ingredient-list-container {
                a {
                    text-decoration: none;
                    color: darkslategrey;
                }

                mat-icon {
                    color: var(--main-color);
                }
            }
        }

        .recipe-preparation-container {
            .preparation-step-container .step-index {
                font-weight: 700;
                color: var(--main-color);
                padding-left: 0.5rem;
            }
        }

        .recipe-share-button-container {
            .recipe-share-title h2 {
                margin: 0;
            }
        }

        .recipe-text-container:last-child {
            margin: 0;
        }
    }
}