<div class="carousel-content-container">
    <div class="content-image">
        <a [href]="'recipe/' + recipe?.slug">
            <img [src]="recipe?.imagePath" [alt]="recipe?.name">
        </a>
    </div>
    <div class="content-footer">
        <div class="content-name">
            {{ recipe?.name }}
        </div>
        <div class="content-info-container">
            <div class="info-column">
                <!-- TODO: content -->
            </div>
            <div class="info-column">
                <!-- TODO: content -->
            </div>
        </div>
    </div>
</div>